<mjml>
  <mj-head>
    <mj-attributes>
      <mj-all font-family="'Helvetica', 'Arial', sans-serif"></mj-all>
      <mj-text color="#0f172a"></mj-text>
    </mj-attributes>
  </mj-head>

  <mj-body background-color="#FAF9F9">
    <mj-section background-color="#F35868" padding-bottom="48px" padding-left="48px" padding-right="48px" padding-top="24px" padding="48px">
      <mj-column padding="0">
        <mj-text color="rgba(255,255,255,0.5)" font-size="14px" line-height="1.6" padding="0px">
          EMAIL UPDATE
        </mj-text>
        <mj-spacer height="12px"></mj-spacer>
        <mj-text color="#ffffff" font-size="38px" line-height="1.375" padding="0px">
          <strong>Email update request</strong>
        </mj-text>
      </mj-column>
      <mj-column padding="0">
        <mj-image fluid-on-mobile="true" padding="0px" src="https://nyght.ch/images/undraw_confidential_letter_w6ux.svg"></mj-image>
      </mj-column>
    </mj-section>
    <mj-section background-color="#ffffff" padding-bottom="24px" padding-left="48px" padding-right="48px" padding-top="48px" padding="48px">
      <mj-column padding="0">
        <mj-text font-size="16px" line-height="1.5" padding="0px">
          Hey <%= @first_name %>, <br/> <br/> We received a request to change your email address. Let's change it!
        </mj-text>
      </mj-column>
    </mj-section>
    <mj-section background-color="#ffffff" padding-bottom="24px" padding-left="48px" padding-right="48px" padding-top="24px" padding="48px">
      <mj-column padding="0">
        <mj-button align="center" font-size="22px" padding-top="25px" href="<%= @url %>" background-color="#F35868" border-radius="10px" color="#FFFFFF" font-family="open Sans Helvetica, Arial, sans-serif">
          Change my address!
        </mj-button>
      </mj-column>
    </mj-section>
    <mj-section background-color="#0f172a" border-bottom="1px solid #5B5677" border-left="none" border-right="none" border-top="none" padding-bottom="20px" padding-left="48px" padding-right="48px" padding-top="20px" padding="48px">
      <mj-column padding="0">
        <mj-image align="left" padding-bottom="4px" padding-left="0px" padding-right="0px" padding-top="4px" padding="0px" src="/images/logo_full.png" width="100px"></mj-image>
      </mj-column>
    </mj-section>
    <mj-section background-color="#0f172a" padding-bottom="64px" padding-left="48px" padding-right="48px" padding-top="64px" padding="48px">
      <mj-column padding="0">
        <mj-text color="#fff" font-size="14px" line-height="1.5" padding="0px"  align="center">
          Made with 🍺 in Fribourg
        </mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>
