<mjml>
  <mj-body background-color="#FAF9F9">

    <mj-section background-color="#ffffff" padding-bottom="0px">
      <mj-column vertical-align="top" width="100%">
        <mj-image src="https://images.unsplash.com/photo-1429962714451-bb934ecdc4ec?width=600&crop=fit" align="center" border="none" width="600px" padding-left="0px" padding-right="0px" padding-bottom="0px" padding-top="0" />
      </mj-column>
    </mj-section>
    <mj-section background-color="#ffffff" padding-bottom="0px" padding-top="0">
      <mj-column vertical-align="top" width="100%">
        <mj-text align="left" color="#0f172a" font-size="36px" font-weight="bold" font-family="open Sans Helvetica, Arial, sans-serif" padding-left="25px" padding-right="25px" padding-bottom="10px" padding-top="50px">Welcome to <%= @organization_name %>!</mj-text>
      </mj-column>
    </mj-section>

    <mj-section background-color="#ffffff" padding-bottom="20px" padding-top="20px">
      <mj-column vertical-align="middle" width="100%">
        <mj-text align="left" color="#0f172a" font-size="16px" font-family="open Sans Helvetica, Arial, sans-serif" padding-left="25px" padding-right="25px">
          Hey <%= @first_name %>!
        </mj-text>

        <mj-text align="left" color="#0f172a" font-size="16px" font-family="open Sans Helvetica, Arial, sans-serif" padding-left="25px" padding-right="25px" padding-top="20px">
          You requested to join <%= @organization_name %> some time ago, and your request has been accepted! You're now a proud member of this organization. Let's find an event for you!
        </mj-text>
        <mj-button align="center" font-size="22px" padding-top="25px" href="<%= @url %>" background-color="#F35868" border-radius="10px" color="#FFFFFF" font-family="open Sans Helvetica, Arial, sans-serif">
          View <%= @organization_name %>'s events
        </mj-button>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>
