<mjml>
  <mj-head>
    <mj-attributes>
      <mj-all font-family="'Helvetica', 'Arial', sans-serif"></mj-all>
      <mj-text color="#0f172a"></mj-text>
    </mj-attributes>
  </mj-head>

  <mj-body background-color="#FAF9F9">
    <mj-section background-color="#F35868" padding-bottom="48px" padding-left="48px" padding-right="48px" padding-top="24px" padding="48px">
      <mj-column padding="0">
        <mj-text color="rgba(255,255,255,0.5)" font-size="14px" line-height="1.6" padding="0px">
          PLANNING UPDATE
        </mj-text>
        <mj-spacer height="12px"></mj-spacer>
        <mj-text color="#ffffff" font-size="38px" line-height="1.375" padding="0px">
          <strong>Your planning<br/> has been updated!</strong>
        </mj-text>
      </mj-column>
      <mj-column padding="0">
        <mj-image fluid-on-mobile="true" padding="0px" src="https://nyght.ch/images/undraw_events_re_98ue.svg"></mj-image>
      </mj-column>
    </mj-section>
    <mj-section background-color="#ffffff" padding-bottom="24px" padding-left="48px" padding-right="48px" padding-top="48px" padding="48px">
      <mj-column padding="0">
        <mj-text font-size="16px" line-height="1.5" padding="0px">
          Hey <%= @first_name %>, <br/> <br/> You rencently applied to work for some shifts on nyght. These applications were updated! Here's an overview:
        </mj-text>
      </mj-column>
    </mj-section>
    <mj-section background-color="#ffffff" padding-bottom="24px" padding-left="48px" padding-right="48px" padding-top="24px" padding="48px">
      <mj-column padding="0">
        <mj-table font-size="16px" padding="0" table-layout="fixed">
          <tr style="border-bottom:1px solid #d6d3d1; text-align: left; line-height: 1.5rem; color: #78716c; font-size: 0.75rem">
            <th style="padding-right: 1.5rem; padding-left: 0.5rem; padding-bottom: 1rem">EVENT</th>
            <th style="padding-right: 1.5rem; padding-left: 0.5rem; padding-bottom: 1rem">SHIFT</th>
            <th style="padding-right: 1.5rem; padding-left: 0.5rem; padding-bottom: 1rem">STATUS</th>
          </tr>

          <%= for shift <- @shifts do %>
            <tr>
            <td style="padding-right:1.5rem; padding-left:0.5rem; padding-top: 1rem; padding-bottom: 1rem;"><%= shift.event.name %></td>
              <td style="padding-right:1.5rem; padding-left:0.5rem; padding-top: 1rem; padding-bottom: 1rem;"><%= shift.title %></td>
              <td style="padding-right:1.5rem; padding-left:0.5rem; padding-top: 1rem; padding-bottom: 1rem;">
                <%= if List.first(shift.shift_applications).status == :accepted do %>
                  <span style="padding-bottom: 0.125rem; padding-top: 0.125rem; padding-left: .625rem; padding-right: .625rem; color: #064e3b; background-color: #a7f3d0; font-size: .75rem; border-radius: 9999px;">Accepted</span>
                <% else %>
                  <span style="padding-bottom: 0.125rem; padding-top: 0.125rem; padding-left: .625rem; padding-right: .625rem; color: #881337; background-color: #fecdd3; font-size: .75rem; border-radius: 9999px;">Rejected</span>
                <% end %>
              </td>
            </tr>
          <% end %>
      	</mj-table>
      </mj-column>
    </mj-section>
    <mj-section background-color="#0f172a" border-bottom="1px solid #5B5677" border-left="none" border-right="none" border-top="none" padding-bottom="20px" padding-left="48px" padding-right="48px" padding-top="20px" padding="48px">
      <mj-column padding="0">
        <mj-image align="left" padding-bottom="4px" padding-left="0px" padding-right="0px" padding-top="4px" padding="0px" src="/images/logo_full.png" width="100px"></mj-image>
      </mj-column>
    </mj-section>
    <mj-section background-color="#0f172a" padding-bottom="64px" padding-left="48px" padding-right="48px" padding-top="64px" padding="48px">
      <mj-column padding="0">
        <mj-text color="#fff" font-size="14px" line-height="1.5" padding="0px"  align="center">
          Made with 🍺 in Fribourg
        </mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>
