@import url(https://fonts.bunny.net/css?family=inter:100,200,300,400,500,600,700,800,900);


@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";
@plugin "./tablericons.tailwindcss.plugin.js";

@import "tailwindcss";
@source "./js/**/*.js";
@source "../lib/nyght_web/**/*.*ex";
@source "../lib/nyght_ui/*.ex";

@import "../node_modules/easymde/dist/easymde.min.css";


@theme {
  --color-brand: oklch(68.79% 0.2015 22.48);

  --aspect-a4: 1 / 1.4142;

  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@variant phx-click-loading (.phx-click-loading&, .phx-click-loading &);
@variant phx-submit-loading (.phx-submit-loading&, .phx-submit-loading &);
@variant phx-change-loading (.phx-change-loading&, .phx-change-loading &);

@layer base {

  html {
    scroll-behavior: smooth;
  }
  
  h1 {
    @apply text-5xl leading-tight font-bold text-slate-900 tracking-tighter;
  }

  h2 {
    @apply text-4xl leading-normal font-bold text-slate-900 tracking-tighter;
  }

  h3 {
    @apply text-3xl leading-normal font-bold text-slate-900 tracking-tight;
  }

  h4 {
    @apply text-2xl font-bold text-slate-900;
  }

  h5 {
    @apply text-xl font-bold text-slate-900;
  }

  h6 {
    @apply text-lg font-bold text-slate-900;
  }
}

@layer components {
  .CodeMirror {
    @apply bg-gray-50;
  }
}

@layer utilities {
  .bg-gradient {
    background: rgb(5, 60, 109);
    background: linear-gradient(135deg,
        rgba(5, 60, 109, 1) 35%,
        rgba(4, 82, 113, 1) 100%);
  }

  .bg-image {
    background-image: url('/images/ebull_bg_web.jpg');
    background-color: rgba(5, 60, 109, 0.8);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .required::after {
    content: " *";
    @apply text-brand text-sm;
  }

  .shadow-top {
    box-shadow: rgb(0 0 0 / 0.1) 0px -10px 10px -10px;
  }

  .col-1 {
    grid-column: 1;
  }

  .col-2 {
    grid-column: 2;
  }

  .col-3 {
    grid-column: 3;
  }

  .col-4 {
    grid-column: 4;
  }

  .col-5 {
    grid-column: 5;
  }

  .col-6 {
    grid-column: 6;
  }

  .col-7 {
    grid-column: 7;
  }

  .divide-dot > * + *::before{
    content: " · ";
  }
}

.editor-toolbar button.active, .editor-toolbar button:hover {
  @apply bg-brand;
}

.editor-toolbar button {
  @apply bg-slate-950 w-6 h-6 mx-1;
}

label.has-error:not(.phx-no-feedback) {
  @apply text-red-800;
}

textarea.has-error:not(.phx-no-feedback),
input.has-error:not(.phx-no-feedback),
select.has-error:not(.phx-no-feedback),
input[type="checkbox"].has-error:not(.phx-no-feedback),
input[type="radio"].has-error:not(.phx-no-feedback) {
  @apply bg-red-50 border-red-800;
}

.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.dropdown-content {
  display: none;
}

.dropdown-content[data-show] {
  display: block;
}

.dropdown-content div:last-of-type~hr {
  display: none;
}

.dropdown-content>hr:first-child {
  display: none;
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-loading {
  cursor: wait;
}

.fade-in-scale {
  animation: 0.2s ease-in 0s normal forwards 1 fade-in-scale-keys;
}

.fade-out-scale {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-scale-keys;
}

.fade-in {
  animation: 0.2s ease-out 0s normal forwards 1 fade-in-keys;
}

.fade-out {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-keys;
}

@keyframes fade-in-scale-keys {
  0% {
    scale: 0.95;
    opacity: 0;
  }

  100% {
    scale: 1;
    opacity: 1;
  }
}

@keyframes fade-out-scale-keys {
  0% {
    scale: 1;
    opacity: 1;
  }

  100% {
    scale: 0.95;
    opacity: 0;
  }
}

@keyframes fade-in-keys {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out-keys {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
