<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <meta name="appsignal-key" content={get_appsignal_frontend_key()} />
    <meta :for={meta <- @meta_attrs} name={meta.name} content={meta.content} />
    <.live_title suffix={title_suffix(assigns[:current_organization])}>
      {assigns[:page_title] || "Nyght"}
    </.live_title>
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <link rel="icon" type="image/x-icon" href={~p"/images/favicon.ico"} />
    <link rel="apple-touch-icon" sizes="180x180" href={~p"/images/apple-touch-icon.png"} />
    <link rel="icon" type="image/png" sizes="32x32" href={~p"/images/favicon-32x32.png"} />
    <link rel="icon" type="image/png" sizes="16x16" href={~p"/images/favicon-16x16.png"} />
    <link rel="manifest" href={~p"/site.webmanifest"} />
  </head>
  <body class="bg-white antialiased">
    {@inner_content}
  </body>
</html>
