<.members_header live_action={@live_action} />

<main class="container mx-auto py-12">
  <.empty :if={@meta.total_count == 0} icon="ti-inbox-off">
    <:title>{dgettext("members", "No roles")}</:title>
    <:subtitle>
      {dgettext("members", "Roles will be listed here, but for now, there's none")}
    </:subtitle>
  </.empty>

  <div class="flex flex-row justify-between mb-6">
    <div class="flex flex-row gap-2"></div>
    <div class="flex flex-row gap-2">
      <.a style={:secondary} size={:small} patch={~p"/app/members/roles/create"} icon="ti-plus">
        {dgettext("members", "New role")}
      </.a>
    </div>
  </div>

  <Flop.Phoenix.table
    :if={@meta.total_count > 0}
    id="categories-list"
    meta={@meta}
    items={@streams.roles}
    path={~p"/app/members/roles"}
    opts={table_opts()}
  >
    <:col :let={{_id, role}} field={:name} label={dgettext("members", "name")}>
      <div class="flex flex-row justify-between items-baseline">
        <.a patch={~p"/app/members/roles/#{role}/edit"}>
          {role.name}
        </.a>
        <.icon_button phx-click="delete" phx-value-id={role.id} name="ti-trash" class="lg:hidden" />
      </div>
    </:col>

    <:action
      :let={{_id, role}}
      tbody_td_attrs={[class: "py-3 px-4 hidden lg:flex lg:flex-none"]}
      col_class="lg:w-16"
    >
      <.icon_button
        phx-click="delete"
        phx-value-id={role.id}
        name="ti-trash"
        class="hidden lg:block"
      />
    </:action>
  </Flop.Phoenix.table>
</main>
